.confirm_box.hidden
  .card
    .confirm__details
      i.far.fa-question-circle
      h1 Are you sure?
      h3 Are you sure to permanently delete this?
    .confirm__footer
      button.btn.btn--grey.btn--small#cancel Cancel
      button.btn.btn--small#confirm(style='color: white; background-color: #dd3d3d')
        | Delete