.reviews_box.hidden
  .card
    .card__header
      .card__picture
        img.card__picture-img(src='https://wallpaperaccess.com/full/2963445.jpg')
      h3.heading-tertirary
        span TourName
    .card__details(style='display: block')
      .reviews__avatar
        img.reviews__avatar-img(src=`/img/users/${user.photo}` alt=`${user.name}`)
        h6.reviews__user= user.name
      .reviews__rating--self
        input#rating-5(type='radio' name='rate' value='5')
        label.far.fa-star(for='rating-5')
        input#rating-4(type='radio' name='rate' value='4')
        label.far.fa-star(for='rating-4')
        input#rating-3(type='radio' name='rate' value='3')
        label.far.fa-star(for='rating-3')
        input#rating-2(type='radio' name='rate' value='2')
        label.far.fa-star(for='rating-2')
        input#rating-1(type='radio' name='rate' value='1')
        label.far.fa-star(for='rating-1')
        .breakline
        header
      .text_box
        textarea#reviews_text.form__input(cols='30' rows='6' placeholder='Write you review here...')
    .card__footer
      button.btn.btn--grey.btn--small.btn--discard-rv
        | Discard
      button.btn.btn--green.btn--small.btn--save-rv(data-current-user=`${user._id}`) Save