#tour-form.management__form.tour-form.hidden
  button.btn-close X
  h1.heading-secondary.ma-bt-lg
    i.fa.fa-pencil-square-o
    |  Tour Management
  form.form.form-container
    .form__group2
      label.form__label(for='tourName') Tour Name
      input#tourName.form__input(type='text' placeholder='Enter Name' value='' name='name')
    .form__group2
      label.form__label(for='duration') Duration
      input#duration.form__input(type='number' name='duration' placeholder='Enter duration' value='')
    .form__group2
      label.form__label(for='maxGroupSize') Group Size
      input#maxGroupSize.form__input(type='number' name='maxGroupSize' placeholder='Enter Group Size' value='')
    .form__group2
      label.form__label(for='difficulty') Difficulty
      select#difficulty.form__input(name='difficulty')
        option(value='easy') Easy
        option(value='medium') Medium
        option(value='difficult') Difficult
    .form__group2
      label.form__label(for='ratingsAverage') Ratings Average
      input#ratingsAverage.form__input(type='number' name='ratingsAverage' placeholder='4.5')
    .form__group2
      label.form__label(for='ratingsQuantity') Ratings Quantity
      input#ratingsQuantity.form__input(type='number' name='ratingsQuantity' placeholder='0')
    .form__group2
      label.form__label(for='price') Price
      input#price.form__input(type='number' name='price' placeholder='Enter tour price' value='')
    .form__group2
    .form__group2
      label.form__label(for='summary') Summary
      textarea#summary.form__input(type='text' name='summary' placeholder='' cols='30' rows='6')
    .form__group2
      label.form__label(for='description') Description
      textarea#description.form__input(type='text' name='description' placeholder='' cols='30' rows='6')
    .form__group2
      label.form__label(for='imageCover') Image
      label.form__sublabel(for='imageCover') Image Cover
      input#imageCover.form__input(type='file' name='imageCover' accept='image/*')
      label.form__sublabel(for='image1') Image 1
      input#image1.form__input(type='file' name='images' accept='image/*')
      label.form__sublabel(for='image2') Image 2
      input#image2.form__input(type='file' name='images' accept='image/*')
      label.form__sublabel(for='image3') Image 3
      input#image3.form__input(type='file' name='images' accept='image/*')
    .form__group2
      label.form__label Start Date
      label.form__sublabel(for='startdate1') Start Date 1
      input#startDate1.form__input(type='date' name='startDate1')
      label.form__sublabel(for='startdate2') Start Date 2
      input#startDate2.form__input(type='date'  name='startDate2')
      label.form__sublabel(for='startdate3') Start Date 3
      input#startDate3.form__input(type='date' name='startDate3')
    .form__group2
      label.form__label Guider
      label.form__sublabel(for='guide1' style='margin-top: 0.5rem') Guide 1
      input#guide1.form__input(type='text' placeholder='Select a Guider' name='guide1' value='')
      label.form__sublabel(for='guide2' style='margin-top: 0.5rem') Guide 2
      input#guide2.form__input(type='text' placeholder='Select a Guider' name='guide2' value='')
      label.form__sublabel(for='guide3' style='margin-top: 0.5rem') Guide 3
      input#guide3.form__input(type='text' placeholder='Select a Guider' name='guide3' value='')
    .form__group2
      label.form__label Start Location
      label.form__sublabel(for='startCoordinate') Coordinate
      input#startCoordinate.form__input(type='text' name='startCoord')
      label.form__sublabel(for='startAddress') Address
      input#startAddress.form__input(type='text' name='startAddress')
      label.form__sublabel(for='startDescription') Description
      input#startDescription.form__input(type='text' name='startDescription')
    .form__group2
      label.form__label Location 1
      label.form__sublabel(for='locationCoordinate1') Coordinate 1
      input#locationCoordinate1.form__input(type='text' name='locationCoordinate1')
      label.form__sublabel(for='locationDescription1') Description 1
      input#locationDescription1.form__input(type='text' name='locationDescription1')
    .form__group2
      label.form__label Location 2
      label.form__sublabel(for='locationCoordinate2') Coordinate 2
      input#locationCoordinate2.form__input(type='text' name='locationCoordinate2')
      label.form__sublabel(for='locationDescription2') Description 2
      input#locationDescription2.form__input(type='text' name='locationDescription2')
    .form__group2
      label.form__label Location3
      label.form__sublabel(for='locationCoordinate3') Coordinate 3
      input#locationCoordinate3.form__input(type='text' name='locationCoordinate3')
      label.form__sublabel(for='locationDescription3') Description 3
      input#locationDescription3.form__input(type='text' name='locationDescription3')
    button.btn.btn--green.btn-small.btn--center#add-tour(type='submit')
      | Save
    button.btn.btn--green.btn-small.btn--center#update-tour(type='submit').hidden
      | Save